{
    "params": {
        "user": "your_mysql_username",
        "password": "your_mysql_password",
        "gmail-user": "your_gmail_address",
        "gmail-password": "your_gmail_app_password"
    }
}
